@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    width: auto;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    background-color:rgb(242, 245, 245);
}


.maincontainer {
    display: flex;
    height: 100vh;
    width: 100%;

}

.mainleft {
    width: 110em;
    height: auto;
    background: url(./halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    
}

.mainright {
    height: auto;
}

#topwriting {
    margin-top: 2em;
    padding: 2em
}

form {
    
    box-shadow: 20px -2px 100px  black;
}

.formSection > div {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 10px;
}
.formSection > div > div {
    width: 100%; 
    display: flex;
    justify-content: center;
}

.formName, .formContact, .formPassword {
    
    padding: 0.5em 0;
    background-color: white;
    font-size: 24px;
    display: flex;
    justify-content: space-around; 
}

#divpass {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
#divpass > div {
    width: 100%; 
    display: flex;
    justify-content: center; 
}

input {
    border:2px solid #E5E7EB;
    border-radius: 5px;
    background-color: antiquewhite;
    
    
}

.buttonContainer {
    display: flex;
    justify-content: center; 
    padding: 20px; 
}

#myButton {
    padding: 10px 20px; 
    font-size: 16px; 
    color: #fff;
    background-color: #007bff; 
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s;
}

#myButton:hover {
    background-color: #0056b3;
}

input:focus {
    border: 2px solid #007bff; /* Blue border for focused input */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Subtle box-shadow */
    outline: none; /* Remove default focus outline */
}

.error {
    border: 2px solid #ff0000; /* Red border for error input */
    background-color: #ffcccc; /* Light red background color */
}
